.textarea-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 1100px;
}

.textarea-input {
  background-color: #FBFBFB;
  width: 800px;
  height: 250px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  font-size: 16px;
  color:#0D0D0D;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
