.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 500px;
  align-items: center;
}

.input-text {
  width: 500px;
  height: 30px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #F2F2F2;
  font-size: 16px;
  
}
