.modalidade-background {
  padding: 0px;
  margin: 15px;
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 2px solid var(--verde-escuro);
  gap:10px;
  font-family: var(--texto);
}

.modalidade-titulo {
  font-size: 64px;
  color: black  ;
  font-family: var(--texto-titulo);
  font-weight: bold;
  text-align: center;
}

.modalidade-container {
  margin: 0px;
  padding: 15px;
  background-color: white;
  border-radius: 16px;
  border: 2px solid var(--verde-escuro);
  width: 591px;
  height: 868px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  font-family: var(--texto);
}

.modalidade-texto {
  font-size: 18px;
  color: black;
  font-family: var(--texto-titulo);
  font-weight: bold;
  text-align: center;
}
.modalidade-lembrete {
  font-size: 18px;
  color: black;
  text-align: center;
}


.modalidade-curso-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 35px;
  gap: 0px;
}

