.selecaoedital-background {
  padding: 0px;
  margin: 15px;
  background-color: #f0f0f0;
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 2px solid var(--verde-escuro);
  gap: 65px;
  font-family: var(--texto);
}

.selecaoedital-titulo {
  font-size: 64px;
  color: black  ;
  font-family: var(--texto-titulo);
  font-weight: bold;
  text-align: center;
}

.selecaoedital-container {
  margin: 0px;
  padding: 25px;
  background-color: white;
  border-radius: 16px;
  border: 2px solid var(--verde-escuro);
  width: 591px;
  height: 738px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  font-family: var(--texto);
}

.selecaoedital-texto {
  font-size: 28px;
  color: black;
  font-family: var(--texto-titulo);
  font-weight: bold;
  text-align: center;
}
.selecaoedital-lembrete {
  font-size: 18px;
  color: black;
  text-align: center;
}
